* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

.game__box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.game__box_img {
    width: 1920px;
    height: 1080px;
}

.game__box_content {
    padding: 45px 30px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    height: 15%;
}

.main {
    width: 100%;
    flex-grow: 1;
}

.footer {
    width: 100%;
    height: 25%;
}

.footer__container {
    max-width: 740px;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.btn {

}

.loading {

}

.hide {
    display: none !important;
}