@font-face {
    font-family: 'JetBrainsMonoRegualr';
    src: url('../fonts/JetBrainsMono-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    overflow: hidden;
    font-family: JetBrainsMonoRegualr, sans-serif;
}

.game {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background: url("../img/background_start.png") no-repeat center;
}

.game__sound {
    position: absolute;
    top: 15px;
    left: 15px;
    cursor: pointer;
    transition: transform ease-in 0.1s;
}

.game__sound:hover {
    transform: scale(1.10);
}

.game__sound:active {
    transform: scale(0.95);
}